.reform-autocompletebox-fake {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    vertical-align: middle;
}

.reform-autocompletebox-fake.disabled .reform-autocompletebox-input{
    background-color: #eee;
}

.reform-autocompletebox-options {
    display: none;
    position: absolute;
    border: solid 1px #ccc;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

.reform-autocompletebox-list {
    min-width: 50px;
    max-height: 300px;
    overflow-y: auto;
}

.reform-autocompletebox-item {
    border-bottom: solid 1px #eee;
    padding: 10px;
    cursor: pointer;
}

.reform-autocompletebox-item:last-child {
    border-bottom: none;
}

.reform-autocompletebox-hover {
    background: #eee;
}

.reform-autocompletebox-item.selected {
    background: #333;
    color: #fff;
}
.reform-autocompletebox-item strong{
    background: inherit;
}

.reform-autocompletebox-input.placeholder {
    color: #aaa;
}
