.reform-autocomplete-fake {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    vertical-align: middle;
}

.reform-autocomplete-fake.disabled .reform-autocomplete-filter {
    background-color: #eee;
}

.reform-autocomplete-arrowUp:after, .reform-autocomplete-arrowDown:after {
    position: absolute;
    top: 50%;
    right: 10px;
    content: "";
    width: 0;
    height: 0;
    margin: -4px 0 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.reform-autocomplete-arrowUp.disabled:after, .reform-autocomplete-arrowDown.disabled:after {
    border-top-color: #aaa;
    border-bottom-color: #aaa;
}

.reform-autocomplete-arrowUp:after {
    border-bottom: 8px solid #333;
}

.reform-autocomplete-arrowDown:after {
    border-top: 8px solid #333;
}

/*** floater ***/
.reform-autocomplete-floater {
    z-index: 20;
    position: absolute;
    border: solid 1px #ccc;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

.reform-autocomplete-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10
}

/*** filter input ***/
input.reform-autocomplete-filter {
    width: 100%;
    height: 40px;
    padding: 10px 30px 10px 10px;
    font-size: 14px;
    font-family: "Tahoma";
}

input.reform-autocomplete-filter.placeholder {
    color: #aaa;
}

/*** list ***/
.reform-autocomplete-list {
    min-width: 50px;
    max-height: 300px;
    overflow-y: auto;
}

.reform-autocomplete-item {
    border-bottom: solid 1px #eee;
    padding: 10px;
    cursor: pointer;
}

.reform-autocomplete-item:last-child {
    border-bottom: none;
}

.reform-autocomplete-hover {
    background: #eee;
}

.reform-autocomplete-selected {
    background: #333;
    color: #fff;
}
.reform-autocomplete-item strong{
    background: inherit;
}