.reform-autocompletecombobox-fake {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 18px;
    border: solid 1px #ccc;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    vertical-align: middle;
    outline: none;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.reform-autocompletecombobox-fake.disabled {
    background-color: #eee;
    cursor: default;
}

.reform-autocompletecombobox-selected {
    display: block;
}

span.reform-autocompletecombobox-selected.placeholder {
    color: #aaa;
}

span.reform-autocompletecombobox-floaterLabel {
    position: relative;
    display: block;
    width: 200px;
    height: 18px;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.reform-autocompletecombobox-empty {
    padding: 10px;
    color: #aaa;
}