.reform-geoautocompletebox-fake {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    vertical-align: middle;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.reform-geoautocompletebox-fake.disabled .reform-geoautocompletebox-input{
    background-color: #eee;
}

.reform-geoautocompletebox-fake .reform-geoautocompletebox-input {
    width: 200px;
    height: 40px;
    padding: 10px 30px 10px 10px;
    font-size: 14px;
    font-family: "Tahoma"
}

.reform-geoautocompletebox-fake .reform-geoautocompletebox-input:disabled {
    border: 1px solid #ddd;
}

.reform-geoautocompletebox-options {
    display: none;
    position: absolute;
    max-height: none;
    overflow-y: auto;
    border: solid 1px #ccc;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

.reform-geoautocompletebox-item {
    border-bottom: solid 1px #eee;
    padding: 10px;
    cursor: pointer;
}

.reform-geoautocompletebox-item:last-child {
    border-bottom: none;
}

.reform-geoautocompletebox-hover {
    background: #eee;
}

.reform-geoautocompletebox-item.selected {
    background: #333;
    color: #fff;
}
.reform-geoautocompletebox-item strong{
    background: inherit;
}

.reform-geoautocompletebox-input.placeholder {
    color: #aaa;
}
