&.reform-autocompletecombobox-ui {
    &.reform-autocomplete-fake {
        padding     : @paddingVertical @paddingHorizontal;

        .placeholder {
            color: @placeholderColor;
        }

        &.disabled .placeholder {
            color: @disabledPlaceholderColor;
        } 

        .selected-item {
            overflow      : hidden;    
            white-space   : nowrap;
            text-overflow : ellipsis;
        }
    }

    &.reform-floater {
        .reform-autocomplete-floater-label {
            padding        : @paddingVertical @paddingHorizontal;
            position       : relative;
            display        : block;
            .border-box;
            overflow       : hidden;   
            cursor         : pointer;
            outline        : none;

            white-space    : nowrap;
            text-overflow  : ellipsis;
            vertical-align : middle;

            &.arrow-up:after {
                .arrow-up(@fontColor);
            }
        }

        .reform-autocomplete-filter {
            width         : 100%;
            border-top    : 1px solid @borderColor;
            border-bottom : 1px solid @borderColor;

            &:focus {
                outline: none;
            }
        }

        .reform-autocomplete-empty {
            color      : @placeholderColor;
            padding    : @paddingVertical @paddingHorizontal;
            .border-box;
        }
    }
}