&.reform-autocomplete-fake {
    position      : relative;
    display       : inline-block;
    box-sizing    : border-box;
    cursor        : pointer;
    overflow      : hidden;
    
    white-space   : nowrap;
    text-overflow : ellipsis;

    .select-disabled;
    .outline;
    .rounded-corners;

    &.arrow-down:after {
        .arrow-down;
    }

    &.arrow-up:after {
        .arrow-up;
    }

    &.disabled {
        cursor: default;
    }
}

.reform-autocomplete-filter {
    border      : none;
    outline     : none;
    margin      : 0;
}