&.reform-autocomplete-fake {
    .border-box;
    .ellipsis;
    position    : relative;
    padding     : @paddingVertical @paddingHorizontal;
    display     : inline-block;
    line-height : @lineHeight;
    font-size   : @fontSize;
    cursor      : pointer;

    .select-disabled;
    .outline(@borderColor);
    .rounded-corners;

    &.mark-non-existent.new-item:before {
        position : absolute;
        content  : "NEW";
        right    : 10px;
        color    : #b2b2b2;
    }

    &.arrow-down:after { .arrow-down(@fontColor); }
    &.arrow-up:after   { .reform-arrow-up(@fontColor); }

    &.disabled {
        cursor: default;

        .reform-autocomplete-filter {
            .placeholder(@disabledPlaceholderColor);
            background-color : @backgroundColor;
        }

        &.arrow-down:after {
            .arrow-down(@disabledFontColor);
        }
    }
}

.reform-autocomplete-filter {
    margin      : 0;
    padding     : 0;
    line-height : @lineHeight;
    border      : none;
    font-family : @fontFamily;
    font-size   : @fontSize;
    outline     : none;
}