.reform-autocompletecombobox-ui {
    &.reform-autocomplete-fake {
        height      : @autocompleteHeight;
        padding     : @autocompletePaddingVertical @paddingHorizontal;

        &.disabled {
            cursor: default;

            .outline(@disabledColor);
        }

        .selected-item {
            overflow      : hidden;    
            white-space   : nowrap;
            text-overflow : ellipsis;
        }

        .placeholder {
            color: @darkGrayColor;
        }

        &.disabled .placeholder {
            color: @disabledColor;
        } 
    }

    &.reform-floater {
        .reform-autocomplete-floater-label {
            position       : relative;
            display        : block;
            box-sizing     : border-box;
            height         : @autocompleteHeight;
            padding        : @autocompletePaddingVertical @paddingHorizontal;
         
            overflow       : hidden;   
            white-space    : nowrap;
            text-overflow  : ellipsis;
            vertical-align : middle;
            cursor         : pointer;
            outline        : none;

            &.arrow-up:after {
                .arrow-up;
            }
        }

        .reform-autocomplete-filter {
            width         : 100%;
            border-top    : 1px solid @grayColor;
            border-bottom : 1px solid @grayColor;

            &:focus {
                outline: none;
            }
        }

        .reform-autocomplete-empty {
            color      : @darkGrayColor;
            box-sizing : border-box;
            height     : @autocompleteHeight;
            padding    : @autocompletePaddingVertical @paddingHorizontal;

        }
    }
}