&.reform-autocomplete-fake {
    position      : relative;
    display       : inline-block;
    .border-box;
    cursor        : pointer;
    overflow      : hidden;

    font-size     : @fontSize;
    line-height   : @lineHeight;
    white-space   : nowrap;
    text-overflow : ellipsis;

    .select-disabled;
    .outline(@borderColor);
    border-radius: 5px;

    &.arrow-down:after {
        .arrow-down(@fontColor);
    }

    &.arrow-up:after {
        .reform-arrow-up(@fontColor);
    }

    &.disabled {
        cursor: default;

        .reform-autocomplete-filter {
            .placeholder(@disabledPlaceholderColor);
            background-color : @backgroundColor;
        }

        &.arrow-down:after {
            .arrow-down(@disabledFontColor);
        }
    }
}

.reform-autocomplete-filter {
    padding     : @paddingVertical @paddingHorizontal;
    line-height : @lineHeight;
    margin      : 0;
    outline     : none;
    border      : none;
    
    font-family : @fontFamily;
    font-size   : @fontSize;
}
