@checkboxHeight: @baseHeight;

.reform-checkbox-fake {
    position         : relative;
    display          : inline-block;
    height           : @checkboxHeight;
    width            : @checkboxHeight;
    cursor           : pointer;
    vertical-align   : middle;
    box-sizing       : border-box;
    background-color : @backgroundColor

    .outline;

    &:hover {
        .outline(@grayColor);
    }

    &.radio,
    &.radio.checked:before {
        .rounded-corners(50%);
    }

    &.checked:before {
        position   : absolute;
        top        : 50%;
        left       : 50%;
        content    : "";
        width      : 50%;
        height     : 50%;
        margin     : -25% 0 0 -25%;
        background : @selectedColor;
    }

    &.disabled {
        cursor           : default;
        background-color : lighten(@disabledColor, 10%);

        .outline(@disabledColor);

        &.checked:before {
            background-color: @disabledColor;
        }
    }
}
