&.reform-checkbox {
    display             : inline-block;
    -moz-user-select    : none;
    -webkit-user-select : none;
    -ms-user-select     : none;

    .reform-checkbox-abstract-span {
        position : relative;
        display  : inline-block;
        cursor   : pointer;

        &:after {
            content : "";
            position: absolute;
            top     : 50%;
            left    : 50%;
            width   : 50%;
            height  : 50%;
            margin  : -25% 0 0 -25%;
        }
    }

    span { .reform-checkbox-abstract-span; }

    input { display: none; }

    input[type=radio] {
        & + span, & + span:after { border-radius: 50%; }
    }

    &.non-nested {
        + input { display: none; }
        + input + span { .reform-checkbox-abstract-span; }

        + input[type=radio] {
            & + span, & + span:after { border-radius: 50%; }
        }
    }
}
