/** FONTS **/
@baseFontSize      : 13px;
@baseFontFamily    : 'Avenir Next LT Pro Regular';

/** DIMENSIONS **/
@baseWidth         : 200px;
@baseLineHeight    : 16px;
@paddingVertical   : 11px;
@paddingHorizontal : 16px;

/** COLORS **/
@baseColor         : #1f1f1f;
@grayColor         : #ccc;
@backgroundColor   : #fff;
@disabledColor     : @grayColor;
@hoverColor        : #eee;
@selectedColor     : #333;