&.reform-floater {
    z-index     : 20;
    display     : block;
    position    : absolute;
    box-sizing  : border-box;  
    overflow    : hidden;

    .outline;
    .rounded-corners;

    .reform-floater-list {
        min-width  : 180px;
        max-height : 300px;
        overflow-y : auto;

        .reform-floater-item {
            cursor        : pointer;
            box-sizing    : border-box;
            overflow      : hidden;

            white-space   : nowrap;
            text-overflow : ellipsis;

            &.disabled {
                cursor: default;

                &.hover {
                    background: inherit;
                }
            }
        }
    }
}

&.reform-floater-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10
}