&.reform-floater {
    z-index    : 20;
    display    : block;
    position   : absolute;
    overflow   : hidden;
    max-width  : 200px;
    background : @backgroundColor;
    .border-box;

    font-size   : @fontSize;
    color       : @fontColor;
    line-height : @lineHeight;

    .outline(@borderColor);
    .rounded-corners;

    .reform-floater-list {
        min-width  : 180px;
        max-height : 300px;
        overflow-y : auto;

        .reform-floater-item {
            padding       : @paddingVertical @paddingHorizontal; 
            cursor        : pointer;
            .border-box;
            overflow      : hidden;

            white-space   : nowrap;
            text-overflow : ellipsis;
            color         : @floaterItemColor; 

            &.hover {
                background : @hoverBackgroundColor;
                color      : @hoverFontColor;
            }

            &.selected {
                color      : @selectedFontColor;
                font-weight: 500;
            }

            &.disabled {
                cursor     : default;
                color      : @disabledFontColor;
                background : @disabledBackgroundColor;

                &.hover {
                    background: inherit;
                }
            }
            &.top-options-item {
                color : #0e0e0e;
            }
        }
    }
}

&.reform-floater-overlay {
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
    position : fixed;
    z-index  : 10
}