&.reform-floater {
    .border-box;
    position    : absolute;
    z-index     : 20;
    display     : block;
    overflow    : hidden;
    max-width   : 200px;
    line-height : @lineHeight;
    background  : @backgroundColor;
    font-size   : @fontSize;
    color       : @fontColor;

    .outline(@borderColor);
    .rounded-corners;

    .reform-floater-list {
        min-width  : 180px;
        max-height : 300px;
        overflow-y : auto;

        .reform-floater-item {
            .border-box;
            .ellipsis;
            padding : @paddingVertical @paddingHorizontal;
            cursor  : pointer;
             
            &.hover {
                background : @hoverBackgroundColor;
                color      : @hoverFontColor;
            }

            &.selected {
                background : @selectedBackgroundColor;
                color      : @selectedFontColor;
            }

            &.disabled {
                cursor     : default;
                color      : @disabledFontColor;
                background : @disabledBackgroundColor;

                &.hover { background: inherit; }
            }
        }
    }
}

&.reform-floater-overlay {
    position : fixed;
    z-index  : 10;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
}