.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.select-disabled {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.outline (@color: @grayColor) {
    box-shadow: 0 0 0 1px @color;
}

.arrow (@color: @baseColor, @height: 4px, @width: 8px) {
    content: "";
    width: 0;
    height: 0;
    margin: -(@height/2) 0 0;

    border-left: (@width/2) solid transparent;
    border-right: (@width/2) solid transparent;

    border-top: @height solid @color;
}