.reform-multilineselectbox-ui {
    .reform-selectbox-item, &.reform-selectbox-fake {
        p {
            margin: 0;
        }

        span {
            color: #aaa;
            font-size: 12px;
        }

        &.disabled span {
            color: #ccc;
        }
    }

    &.reform-selectbox-fake {
        line-height: 17px;
        height: 33px;
    }
}

