@height: 2 * @paddingVertical + @baseLineHeight;

.reform-selectbox {
    &-fake {
        position : relative;
        display  : inline-block;
        
        font-family   : @baseFontFamily;
        font-size     : @baseFontSize;
        color         : @baseColor;
        white-space   : nowrap;
        text-overflow : ellipsis;

        box-sizing  : border-box;
        line-height : @baseLineHeight;
        padding     : @paddingVertical @paddingHorizontal;
        margin      : 0 9px 9px 0;
        min-width   : @baseWidth;
        height      : @height;

        cursor         : pointer;
        overflow       : hidden;
        vertical-align : middle;
        outline        : none;
        
        .select-disabled;
        .rounded-corners;

        &:after {
            position : absolute;
            top      : 50%;
            right    : 16px;

            .arrow;
        }

        &:hover {
            .outline;
        }

        &.disabled {
            cursor : default;
            color  : @disabledColor;

            &:hover {
                box-shadow: none;
            }

            &:after {
                .arrow(4px, @grayColor);
            }
        }
    }
    &-floater {
        display  : block;
        position : absolute;

        font-family : @baseFontFamily;
        font-size   : @baseFontSize;
        color       : @baseColor;

        box-sizing : border-box;        
        overflow   : hidden;
        background : @backgroundColor;

        .outline;
        .rounded-corners;
    }
    &-list {
        min-width  : 180px;
        max-height : 300px;
        overflow-y : auto;
    }
    &-item {
        cursor  : pointer;
        padding : (@paddingVertical - 3) @paddingHorizontal;

        &:first-child {
            padding-top: @paddingVertical;
        }

        &:last-child {
            padding-bottom: @paddingVertical;
        }

        &.hover {
            background: @hoverColor;
        }

        &.selected {
            background : @selectedColor;
            color      : @backgroundColor;
        }

        &.disabled {
            cursor : default;
            color  : @disabledColor;

            &.hover {
                background: inherit;
            }
        }
    }
}