&.reform-selectbox-fake {
    min-height     : @height;
    padding        : @paddingVertical (@paddingHorizontal + 4) @paddingVertical @paddingHorizontal;
    position       : relative;
    display        : inline-block;
    cursor         : pointer;

    .border-box;

    outline        : none;

    font-size      : @fontSize;
    color          : @fontColor;
    line-height    : @lineHeight;
    vertical-align : middle;

    .outline(@borderColor);
    .select-disabled;
    .rounded-corners;

    .selected-item {
        overflow      : hidden;    
        white-space   : nowrap;
        text-overflow : ellipsis;
    }

    &.reform-selectbox-ui.closed:after {
        .arrow-down(@fontColor);
    }
    &.reform-selectbox-ui.opened:after {
        .reform-arrow-up(@hoverBackgroundColor);
    }

    &.reform-selectbox-ui.disabled {
        cursor : default;
        color  : @disabledFontColor;

        &:after {
            .arrow-down(@disabledFontColor);
        }
    }
}

.group  {
    // Group
    span {
        border-box       : border-box;
        position         : relative;
        display          : block;
        margin           : 3px 0 0 0;
        padding          : 0 20px;
        font-size        : 14px;
        line-height      : 30px;
        background-color : #eaeaea;
        color            : #1f1f1f;
        cursor           : pointer;

        &:after {
            position         : absolute;
            content          : "▶";
            top              : -1px;
            right            : 8px;
            font-size        : 8px;
            font-family      : 'Impact', sans-serif;
            font-size-adjust : 0.9;
            color            : rgba(0, 0, 0, .5);
        }
    }

    &.opened span:after { content: "▼"; }
    &.opened div { display: block; }

    // Group item
    div {
        display          : none;
        margin           : 5px 5px;
        padding-left     : 2 10px;
        background-color : #ffffff;
        line-height      : 12px;
        font-size        : 10px;
        color            : rgba(0, 0, 0, .6);
        text-transform   : uppercase;

        &:hover {
            background-color : #e7e6f8 !important;
            border-radius    : 20px;
        }
    }
}