@selectboxHeight              : 38px;
@selectboxPaddingVertical     : (@selectboxHeight - @baseLineHeight) / 2;

@selectboxItemHeight          : 30px;
@selectboxItemPaddingVertical : (@selectboxItemHeight - @baseLineHeight) / 2;

.reform-selectbox-fake {
    position       : relative;
    display        : inline-block;
    
    font-family    : @baseFontFamily;
    font-size      : @baseFontSize;
    color          : @baseColor;

    box-sizing     : border-box;
    line-height    : @baseLineHeight;
    padding        : @selectboxPaddingVertical (@paddingHorizontal + 4) @selectboxPaddingVertical @paddingHorizontal;
    margin         : 0 9px 9px 0;
    height         : @selectboxHeight;
    max-width      : @baseWidth;
    min-width      : @baseWidth;

    cursor         : pointer;
    vertical-align : middle;
    outline        : none;
    
    .select-disabled;
    .rounded-corners;

    .selected-item {
        overflow      : hidden;    
        white-space   : nowrap;
        text-overflow : ellipsis;
    }

    &:after {
        position : absolute;
        top      : 50%;
        right    : 16px;

        .arrow;
    }

    &:hover {
        .outline;
    }

    &.disabled {
        cursor : default;
        color  : @disabledColor;

        &:hover {
            box-shadow: none;
        }

        &:after {
            .arrow(@grayColor);
        }
    }
}

.reform-selectbox-list .reform-selectbox-item {
    padding       : @selectboxItemPaddingVertical @paddingHorizontal; 

    &:first-child {
        padding-top: @selectboxPaddingVertical;
    }

    &:last-child {
        padding-bottom: @selectboxPaddingVertical;
    }
}
