&.reform-selectbox-fake {
    .border-box;
    position       : relative;
    display        : inline-block;
    min-height     : @height;
    padding        : @paddingVertical (@paddingHorizontal + 4) @paddingVertical @paddingHorizontal;
    line-height    : @lineHeight;
    font-size      : @fontSize;
    vertical-align : middle;
    color          : @fontColor;
    cursor         : pointer;
    outline        : none;

    .outline(@borderColor);
    .select-disabled;
    .rounded-corners;

    .selected-item { .ellipsis; }

    &.reform-selectbox-ui.closed:after { .arrow-down(@fontColor); }
    &.reform-selectbox-ui.opened:after { .reform-arrow-up(@hoverBackgroundColor); }

    &.reform-selectbox-ui.disabled {
        cursor : default;
        color  : @disabledFontColor;

        &:after { .arrow-down(@disabledFontColor); }
    }
}

.reform-group  {
    span {
        .border-box;
        position         : relative;
        display          : block;
        padding          : 0 32px;
        border-top       : 1px solid #eaeaea;
        line-height      : 30px;
        font-size        : 14px;
        background-color : #ffffff;
        color            : #222222;
        text-align       : left;
        cursor           : pointer;

        &:hover { background-color: #eaeaea; }

        &:before {
            position    : absolute;
            content     : "▶";
            top         : 1px;
            left        : 15px;
            font-size   : 8px;
            font-family : 'Arial', sans-serif;
            color       : #777777;
        }
    }

    &.opened span:before { content: "▼"; }
    &.opened div         { display: block; }

    // Group item
    .reform-floater-item {
        display          : none;
        margin           : 5px 10px;
        padding-left     : 22px !important;
        line-height      : 12px;
        border-radius    : 5px;
        background-color : #ffffff;
        font-size        : 11px;
        text-transform   : uppercase;

        &.hover { color: @hoverFontColor; }
    }
}