#abstracts > .checkbox;

&.reform-checkbox-fake {
    height           : 10px;
    width            : 10px;
    border           : 1px solid #383838;
    background-color : #000;
    padding          : 1px;
    box-sizing       : content-box;

    &:before {
        border : none;
    }

    &.checked:before {
        content: none;
    }

    &:after {
        display    : none;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        z-index    : 1;
        width      : 6px;
        height     : 6px;
        margin     : -3px 0 0 -3px;
        padding    : 0;
        content    : "";
        background-color : #fff;
    }

    &.checked:after {
        display: block;
    }

    &.radio.checked:after {
        display    : block;
    }

    &.radio {        
        &:after {
            .rounded-corners(50%);

            width            : 4px;
            height           : 4px;
            margin           : -2px 0 0 -2px;
        }
    }
}