#abstracts > .checkbox;

&.reform-checkbox {
    span {
        height  : 10px;
        width   : 10px;
        padding : 1px;
        border  : 1px solid #aaaaaa;

        &:before {
            content  : "";
            position : absolute;
            top      : 1px;
            right    : 1px;
            bottom   : 1px;
            left     : 1px;
            border   : 1px solid #cccccc;
        }
    }

    input {
        &:checked + span:after {
            width           : 10px;
            height          : 10px;
            margin          : -5px 0 0 -5px;
            background      : url('img/check.svg') no-repeat -2px -2px;
            background-size : 15px;
        }

        &:disabled + span {
            .outline(#aaaaaa);
            background-color: #dddddd;
        }

        &:disabled:checked + span:after {
            .outline(#aaaaaa);
            border: none;
        }
    }

    input[type=radio] {
        & + span {
            &:before { border-radius: 50%; }
            &:after {
                width  : 4px;
                height : 4px;
                margin : -2px 0 0 -2px;
                border : none !important;
            }
        }

        &:checked + span {
            .outline(#aaaaaa);

            &:after { background-color: #000000 !important; }
        }

        &:disabled:checked + span {
            .outline(#aaaaaa);
            background-color: #dddddd;
        }
    }

    &.big-checkbox {
        span {
            width  : 16px;
            height : 16px;
        }

        input {
            &:checked + span:after {
                width      : 14px;
                height     : 14px;
                margin     : -7px 0 0 -7px;
                background : url('img/big_check.gif') no-repeat;
            }
        }

        input[type=radio] {
            & + span {
                &:after {
                    width  : 6px;
                    height : 6px;
                    margin : -3px 0 0 -3px;
                }
            }
        }
    }
}
