#abstracts > .checkbox;

&.reform-checkbox {
    .span-mixin {
        .outline(#dddddd);
        height  : 12px;
        width   : 12px;
        padding : 1px;
    }

    span { .span-mixin; }

    .input-mixin {
        &:checked + span:after {
            width           : 10px;
            height          : 10px;
            margin          : -7px 0 0 -7px;
            border          : 2px solid #eeeeee;
            background      : url('img/check.svg') no-repeat #eeeeee -3px -2px;
            background-size : 16px;
            .outline(#eeeeee);
        }

        &:disabled + span { .outline(#aaaaaa); }

        &:disabled:checked + span:after {
            .outline(#aaaaaa);
            background-color : @disabledBackgroundColor;
            border           : 2px solid transparent;
        }
    }

    input { .input-mixin; }

    .radio-input-mixin {
        & + span:after {
            width  : 4px;
            height : 4px;
            margin : -2px 0 0 -2px;
            border : none !important;
        }

        &:checked + span {
            background-color : #eeeeee;
            .outline(#eeeeee);

            &:after {
                box-shadow       : none;
                background-color : #000000;
            }
        }

        &:disabled:checked + span {
            .outline(#aaaaaa);
            background-color : #ffffff;
        }
    }

    input[type=radio] { .radio-input-mixin; }

    &.non-nested {
        + input { .input-mixin; }
        + input[type=radio] { .radio-input-mixin; }
        + input + span { .span-mixin; }
    }
}
