&.menu {
    &.reform-selectbox-fake {
        box-shadow : none;

        &:hover          { .outline(@borderColor); }
        &.disabled:hover { box-shadow: none;       }
    }    
}

&.menu-dimensions {
    @height          : 38px;
    @paddingVertical : (@height - @lineHeight) / 2;

    &.reform-selectbox-fake {
        height     : @height;
        padding    : @paddingVertical @paddingHorizontal;
    }

    &.reform-selectbox-ui .reform-floater-list .reform-floater-item {

        &:first-child { padding-top: @paddingVertical;    }
        &:last-child  { padding-bottom: @paddingVertical; }
    }
}

&.menu-metrics {
    @fontSize          : 10px;
    @fontColor         : #444;
    @height            : 22px;
    @paddingVertical   : (@height - @lineHeight) / 2;    
    @paddingHorizontal : 10px;

    &.reform-selectbox-fake {
        min-height     : @height;
        padding        : @paddingVertical @paddingHorizontal;
        text-transform : uppercase;
        font-size      : @fontSize;
        color          : @fontColor;
    }

    &.reform-selectbox-ui .reform-floater-list .reform-floater-item { 
        min-height     : @height;
        padding        : @paddingVertical (@paddingHorizontal + 4) @paddingVertical @paddingHorizontal;
        text-transform : uppercase;
        font-size      : @fontSize;

        &:not(.disabled):not(.selected) { color: @fontColor; }
    }
}